# Libraries

In [1]:
import fbprophet
from fbprophet import Prophet
from fbprophet.plot import add_changepoints_to_plot
from scipy.stats import boxcox
import pandas as pd
import numpy as np
from datetime import date
from datetime import time
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from scipy import stats
from scipy.stats import ttest_1samp
import math
import plotly 
import plotly.graph_objs as go
import plotly.express as px

In [2]:
pd.set_option('display.max_rows', None)

# Loading the 3 economic estimators

In [3]:
yield_curve = pd.read_csv('/Users/vladimirautier/Documents/GitHub/Week9/Project-Week-9-Final-Project/your-project/Final Project/Modified:Cleaned Data/yield_curve_clean.csv')

In [4]:
cci = pd.read_csv('/Users/vladimirautier/Documents/GitHub/Week9/Project-Week-9-Final-Project/your-project/Final Project/Modified:Cleaned Data/CCI_clean.csv')

In [5]:
gdp = pd.read_csv('/Users/vladimirautier/Documents/GitHub/Week9/Project-Week-9-Final-Project/your-project/Final Project/Modified:Cleaned Data/gdp_world_clean.csv')

# Final Cleaning before merging

# Cleaning GDP

In [6]:
gdp.head()

   Unnamed: 0          Year GDP per capita growth (annual %)
0           0  Country Code                              WLD
1           1          1961                 2.96546892976448
2           2          1962                 3.78632332497055
3           3          1963                 3.07027760261226
4           4          1964                 4.51897302590693

In [7]:
gdp.columns # Unnamed 0 is not wanted we need to drop this column

Index(['Unnamed: 0', 'Year', 'GDP per capita growth (annual %)'], dtype='object')

In [8]:
gdp.drop(['Unnamed: 0'],axis=1,inplace=True) # Dropping unwanted columns

In [9]:
gdp = gdp.reset_index(drop=True)

In [10]:
gdp.head()

           Year GDP per capita growth (annual %)
0  Country Code                              WLD
1          1961                 2.96546892976448
2          1962                 3.78632332497055
3          1963                 3.07027760261226
4          1964                 4.51897302590693

In [11]:
gdp.drop(gdp.index[:1],inplace=True) # dropping the first row

In [12]:
gdp.head()

   Year GDP per capita growth (annual %)
1  1961                 2.96546892976448
2  1962                 3.78632332497055
3  1963                 3.07027760261226
4  1964                 4.51897302590693
5  1965                 3.43351075792553

In [13]:
gdp.dtypes # We need to change the object types to numeric ones

Year                                object
GDP per capita growth (annual %)    object
dtype: object

In [14]:
gdp['Year'] = pd.to_datetime(gdp['Year'])

In [15]:
gdp['GDP per capita growth (annual %)'] = gdp['GDP per capita growth (annual %)'].apply(pd.to_numeric, errors='coerce')

In [16]:
gdp.dtypes # Types are in order

Year                                datetime64[ns]
GDP per capita growth (annual %)           float64
dtype: object

In [17]:
gdp.columns = ['Date','GDP per capita growth (annual %)']

In [18]:
gdp.set_index('Date',inplace=True)

In [19]:
gdp.head()

            GDP per capita growth (annual %)
Date
1961-01-01                          2.965469
1962-01-01                          3.786323
1963-01-01                          3.070278
1964-01-01                          4.518973
1965-01-01                          3.433511

# Cleaning Yield Curve

In [20]:
yield_curve.head()

,Unnamed: 0,Date,10 Year Treasury Yield,3 Month Treasury Yield,3 Month Treasury Yield (Bond Equivalent Basis),Spread,Rec_prob,NBER_Rec
0,12,1960-01-31,4.72,4.35,4.459452,0.260548,0.104719,0.0
1,13,1960-02-29,4.49,3.96,4.055597,0.434403,0.097620,0.0
2,14,1960-03-31,4.25,3.31,3.384288,0.865712,0.105806,0.0
3,15,1960-04-30,4.28,3.23,3.301820,0.978180,0.108648,0.0
4,16,1960-05-31,4.35,3.29,3.363668,0.986332,0.076983,1.0

In [21]:
yield_curve.columns # Unwanted column to drop

Index(['Unnamed: 0', 'Date', '10 Year Treasury Yield',
       '3 Month Treasury Yield',
       '3 Month Treasury Yield (Bond Equivalent Basis)', 'Spread', 'Rec_prob',
       'NBER_Rec'],
      dtype='object')

In [22]:
yield_curve.drop(['Unnamed: 0'],axis=1,inplace=True) # Dropping unnamed 0 column

In [23]:
yield_curve.head()

,Date,10 Year Treasury Yield,3 Month Treasury Yield,3 Month Treasury Yield (Bond Equivalent Basis),Spread,Rec_prob,NBER_Rec
0,1960-01-31,4.72,4.35,4.459452,0.260548,0.104719,0.0
1,1960-02-29,4.49,3.96,4.055597,0.434403,0.097620,0.0
2,1960-03-31,4.25,3.31,3.384288,0.865712,0.105806,0.0
3,1960-04-30,4.28,3.23,3.301820,0.978180,0.108648,0.0
4,1960-05-31,4.35,3.29,3.363668,0.986332,0.076983,1.0

In [24]:
yield_curve.dtypes # need to change the Date to a datetime

Date                                               object
10 Year Treasury Yield                            float64
3 Month Treasury Yield                            float64
3 Month Treasury Yield (Bond Equivalent Basis)    float64
Spread                                            float64
Rec_prob                                          float64
NBER_Rec                                          float64
dtype: object

In [25]:
yield_curve['Date'] = pd.to_datetime(yield_curve['Date'])

In [26]:
yield_curve.set_index('Date', inplace=True) # Seeting index

In [27]:
yield_curve['Year'] = yield_curve.index.year

In [28]:
yield_curve.head()

,10 Year Treasury Yield,3 Month Treasury Yield,3 Month Treasury Yield (Bond Equivalent Basis),Spread,Rec_prob,NBER_Rec,Year
Date,,,,,,,
1960-01-31,4.72,4.35,4.459452,0.260548,0.104719,0.0,1960
1960-02-29,4.49,3.96,4.055597,0.434403,0.097620,0.0,1960
1960-03-31,4.25,3.31,3.384288,0.865712,0.105806,0.0,1960
1960-04-30,4.28,3.23,3.301820,0.978180,0.108648,0.0,1960
1960-05-31,4.35,3.29,3.363668,0.986332,0.076983,1.0,1960

In [29]:
yield_curve.dtypes

10 Year Treasury Yield                            float64
3 Month Treasury Yield                            float64
3 Month Treasury Yield (Bond Equivalent Basis)    float64
Spread                                            float64
Rec_prob                                          float64
NBER_Rec                                          float64
Year                                                int64
dtype: object

In [30]:
yield_curve.to_csv('/Users/vladimirautier/Documents/GitHub/Week9/Project-Week-9-Final-Project/your-project/Final Project/Modified:Cleaned Data/yield_curve_last.csv')

# Cleaning Customer Confifence Index

In [31]:
cci.head()

   Unnamed: 0 Location        Year  CCI Value
0           0     OECD  1974-01-01   98.96154
1           1     OECD  1974-02-01   98.94519
2           2     OECD  1974-03-01   99.07729
3           3     OECD  1974-04-01   99.20571
4           4     OECD  1974-05-01   99.18984

In [32]:
cci.drop(['Unnamed: 0'],axis=1,inplace=True) # Dropping unnamed 0 column

In [33]:
cci.head()

  Location        Year  CCI Value
0     OECD  1974-01-01   98.96154
1     OECD  1974-02-01   98.94519
2     OECD  1974-03-01   99.07729
3     OECD  1974-04-01   99.20571
4     OECD  1974-05-01   99.18984

In [34]:
cci.dtypes

Location      object
Year          object
CCI Value    float64
dtype: object

In [35]:
cci['Year']=pd.to_datetime(cci['Year'])

In [36]:
cci.dtypes

Location             object
Year         datetime64[ns]
CCI Value           float64
dtype: object

In [37]:
cci.Location.unique()

array(['OECD', 'USA', 'CHN'], dtype=object)

In [38]:
cci.columns = ['Location','Date','CCI Value']

In [39]:
#cci.set_index('Date',inplace=True)

In [40]:
cci.head()

  Location       Date  CCI Value
0     OECD 1974-01-01   98.96154
1     OECD 1974-02-01   98.94519
2     OECD 1974-03-01   99.07729
3     OECD 1974-04-01   99.20571
4     OECD 1974-05-01   99.18984

In [41]:
cci_re = cci.resample('M', on='Date').mean()

In [42]:
cci_re.head()

            CCI Value
Date
1970-12-31   98.74387
1971-01-31   98.92701
1971-02-28   99.06342
1971-03-31   99.16283
1971-04-30   99.24342

In [43]:
cci_re.index

DatetimeIndex(['1970-12-31', '1971-01-31', '1971-02-28', '1971-03-31',
               '1971-04-30', '1971-05-31', '1971-06-30', '1971-07-31',
               '1971-08-31', '1971-09-30',
               ...
               '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31',
               '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30',
               '2019-10-31', '2019-11-30'],
              dtype='datetime64[ns]', name='Date', length=588, freq='M')

# Merging CCI and Yield by Months resampling

In [46]:
cci_re.head()

            CCI Value
Date
1970-12-31   98.74387
1971-01-31   98.92701
1971-02-28   99.06342
1971-03-31   99.16283
1971-04-30   99.24342

In [48]:
yield_curve.head()

,10 Year Treasury Yield,3 Month Treasury Yield,3 Month Treasury Yield (Bond Equivalent Basis),Spread,Rec_prob,NBER_Rec,Year
Date,,,,,,,
1960-01-31,4.72,4.35,4.459452,0.260548,0.104719,0.0,1960
1960-02-29,4.49,3.96,4.055597,0.434403,0.097620,0.0,1960
1960-03-31,4.25,3.31,3.384288,0.865712,0.105806,0.0,1960
1960-04-30,4.28,3.23,3.301820,0.978180,0.108648,0.0,1960
1960-05-31,4.35,3.29,3.363668,0.986332,0.076983,1.0,1960

In [52]:
yield_curve = yield_curve.reset_index()

In [53]:
#  month resampling

yield_curve_re = yield_curve.resample('M', on='Date').mean()

In [54]:
yield_curve_re.head()

,10 Year Treasury Yield,3 Month Treasury Yield,3 Month Treasury Yield (Bond Equivalent Basis),Spread,Rec_prob,NBER_Rec,Year
Date,,,,,,,
1960-01-31,4.72,4.35,4.459452,0.260548,0.104719,0.0,1960
1960-02-29,4.49,3.96,4.055597,0.434403,0.097620,0.0,1960
1960-03-31,4.25,3.31,3.384288,0.865712,0.105806,0.0,1960
1960-04-30,4.28,3.23,3.301820,0.978180,0.108648,0.0,1960
1960-05-31,4.35,3.29,3.363668,0.986332,0.076983,1.0,1960

In [55]:
#merging both tables using month resampling

yield_curve_cci_mre = pd.merge(yield_curve_re,cci_re,left_index=True, right_index=True)

In [56]:
yield_curve_cci_mre.head()

,10 Year Treasury Yield,3 Month Treasury Yield,3 Month Treasury Yield (Bond Equivalent Basis),Spread,Rec_prob,NBER_Rec,Year,CCI Value
Date,,,,,,,,
1970-12-31,6.39,4.87,4.999180,1.390820,0.399079,0.0,1970,98.74387
1971-01-31,6.24,4.44,4.552764,1.687236,0.377920,0.0,1971,98.92701
1971-02-28,6.11,3.70,3.786806,2.323194,0.324102,0.0,1971,99.06342
1971-03-31,5.70,3.38,3.456476,2.243524,0.247934,0.0,1971,99.16283
1971-04-30,5.83,3.86,3.952173,1.877827,0.167723,0.0,1971,99.24342

In [57]:
yield_curve_cci_mre.to_csv('/Users/vladimirautier/Documents/GitHub/Week9/Project-Week-9-Final-Project/your-project/Final Project/Modified:Cleaned Data/yield_curve_cci_mre.csv')

# Merging GDP, CCI and Yield using Year resampling

In [58]:
yield_curve.head()

,Date,10 Year Treasury Yield,3 Month Treasury Yield,3 Month Treasury Yield (Bond Equivalent Basis),Spread,Rec_prob,NBER_Rec,Year
0,1960-01-31,4.72,4.35,4.459452,0.260548,0.104719,0.0,1960
1,1960-02-29,4.49,3.96,4.055597,0.434403,0.097620,0.0,1960
2,1960-03-31,4.25,3.31,3.384288,0.865712,0.105806,0.0,1960
3,1960-04-30,4.28,3.23,3.301820,0.978180,0.108648,0.0,1960
4,1960-05-31,4.35,3.29,3.363668,0.986332,0.076983,1.0,1960

In [59]:
yield_curve = yield_curve.reset_index()

In [60]:
yield_curve_recession = yield_curve[['Date','NBER_Rec']]

In [61]:
yield_curve_recession.head() # Extracting the Recession column for later use.

        Date  NBER_Rec
0 1960-01-31       0.0
1 1960-02-29       0.0
2 1960-03-31       0.0
3 1960-04-30       0.0
4 1960-05-31       1.0

In [62]:
yield_curve_recession.to_csv('/Users/vladimirautier/Documents/GitHub/Week9/Project-Week-9-Final-Project/your-project/Final Project/Modified:Cleaned Data/Nber_Rec_col.csv')

In [63]:
yield_curve_recession.dtypes

Date        datetime64[ns]
NBER_Rec           float64
dtype: object

In [64]:
yield_curve_recession.set_index('Date', inplace=True)

In [65]:
yield_curve_recession['Year'] = yield_curve_recession.index.year

/Users/vladimirautier/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [66]:
yield_curve_recession.dtypes

NBER_Rec    float64
Year          int64
dtype: object

In [67]:
yield_curve_recession = yield_curve_recession.reset_index()

In [95]:
#Year resampling because I want to add the GDP that has a yearly index

yield_curve_recession = yield_curve_recession.resample('Y',on='Date').max()

In [96]:
yield_curve_recession.head()

                 Date  NBER_Rec  Year
Date
1960-12-31 1960-12-31       1.0  1960
1961-12-31 1961-12-31       1.0  1961
1962-12-31 1962-12-31       0.0  1962
1963-12-31 1963-12-31       0.0  1963
1964-12-31 1964-12-31       0.0  1964

In [70]:
yield_curve_yre = yield_curve.resample('Y', on='Date').mean()

In [71]:
yield_curve_yre.head()

,index,10 Year Treasury Yield,3 Month Treasury Yield,3 Month Treasury Yield (Bond Equivalent Basis),Spread,Rec_prob,NBER_Rec,Year
Date,,,,,,,,
1960-12-31,5.5,4.116667,2.883333,2.946112,1.170554,0.147225,0.666667,1960.0
1961-12-31,17.5,3.882500,2.354167,2.401180,1.481320,0.110397,0.166667,1961.0
1962-12-31,29.5,3.945833,2.773333,2.831715,1.114118,0.071206,0.000000,1962.0
1963-12-31,41.5,4.002500,3.159167,3.228995,0.773505,0.108181,0.000000,1963.0
1964-12-31,53.5,4.186667,3.546667,3.628482,0.558184,0.154766,0.000000,1964.0

In [72]:
cci.head()

  Location       Date  CCI Value
0     OECD 1974-01-01   98.96154
1     OECD 1974-02-01   98.94519
2     OECD 1974-03-01   99.07729
3     OECD 1974-04-01   99.20571
4     OECD 1974-05-01   99.18984

In [73]:
cci_yre = cci.resample('Y',on='Date').mean()

In [74]:
cci_yre.head()

             CCI Value
Date
1970-12-31   98.743870
1971-12-31   99.425517
1972-12-31  100.458448
1973-12-31   98.640602
1974-12-31   98.089943

In [75]:
gdp.head()

            GDP per capita growth (annual %)
Date
1961-01-01                          2.965469
1962-01-01                          3.786323
1963-01-01                          3.070278
1964-01-01                          4.518973
1965-01-01                          3.433511

In [76]:
gdp = gdp.reset_index()

In [77]:
gdp.dtypes

Date                                datetime64[ns]
GDP per capita growth (annual %)           float64
dtype: object

In [78]:
gdp_yre = gdp.resample('Y',on='Date').mean()

In [79]:
gdp_yre.head()

            GDP per capita growth (annual %)
Date
1961-12-31                          2.965469
1962-12-31                          3.786323
1963-12-31                          3.070278
1964-12-31                          4.518973
1965-12-31                          3.433511

In [97]:
#Now that the 3 estimators are on the same level we can merge them together

In [80]:
df_gdp_cci = pd.merge(cci_yre, gdp_yre, left_index=True, right_index=True)

In [81]:
df_gdp_cci.head()

             CCI Value  GDP per capita growth (annual %)
Date
1970-12-31   98.743870                          1.552273
1971-12-31   99.425517                          2.188471
1972-12-31  100.458448                          3.620346
1973-12-31   98.640602                          4.452205
1974-12-31   98.089943                          0.050785

In [82]:
df_final = pd.merge(df_gdp_cci,yield_curve_yre,left_index=True, right_index=True)

In [83]:
df_final.head()

,CCI Value,GDP per capita growth (annual %),index,10 Year Treasury Yield,3 Month Treasury Yield,3 Month Treasury Yield (Bond Equivalent Basis),Spread,Rec_prob,NBER_Rec,Year
Date,,,,,,,,,,
1970-12-31,98.743870,1.552273,125.5,7.348333,6.391667,6.588419,0.759914,0.344521,0.916667,1970.0
1971-12-31,99.425517,2.188471,137.5,6.159167,4.332500,4.442091,1.717076,0.168818,0.000000,1971.0
1972-12-31,100.458448,3.620346,149.5,6.210000,4.072500,4.172884,2.037116,0.056955,0.000000,1972.0
1973-12-31,98.640602,4.452205,161.5,6.842500,7.031667,7.261206,-0.418706,0.040342,0.083333,1973.0
1974-12-31,98.089943,0.050785,173.5,7.557500,7.830000,8.099749,-0.542249,0.410346,1.000000,1974.0

In [84]:
df_final.drop(['NBER_Rec'],axis=1,inplace=True)

In [85]:
df_final.head()

,CCI Value,GDP per capita growth (annual %),index,10 Year Treasury Yield,3 Month Treasury Yield,3 Month Treasury Yield (Bond Equivalent Basis),Spread,Rec_prob,Year
Date,,,,,,,,,
1970-12-31,98.743870,1.552273,125.5,7.348333,6.391667,6.588419,0.759914,0.344521,1970.0
1971-12-31,99.425517,2.188471,137.5,6.159167,4.332500,4.442091,1.717076,0.168818,1971.0
1972-12-31,100.458448,3.620346,149.5,6.210000,4.072500,4.172884,2.037116,0.056955,1972.0
1973-12-31,98.640602,4.452205,161.5,6.842500,7.031667,7.261206,-0.418706,0.040342,1973.0
1974-12-31,98.089943,0.050785,173.5,7.557500,7.830000,8.099749,-0.542249,0.410346,1974.0

In [86]:
df_final = pd.merge(df_final,yield_curve_recession,left_index=True, right_index=True)

In [87]:
df_final.head()

,CCI Value,GDP per capita growth (annual %),index,10 Year Treasury Yield,3 Month Treasury Yield,3 Month Treasury Yield (Bond Equivalent Basis),Spread,Rec_prob,Year_x,Date,NBER_Rec,Year_y
Date,,,,,,,,,,,,
1970-12-31,98.743870,1.552273,125.5,7.348333,6.391667,6.588419,0.759914,0.344521,1970.0,1970-12-31,1.0,1970
1971-12-31,99.425517,2.188471,137.5,6.159167,4.332500,4.442091,1.717076,0.168818,1971.0,1971-12-31,0.0,1971
1972-12-31,100.458448,3.620346,149.5,6.210000,4.072500,4.172884,2.037116,0.056955,1972.0,1972-12-31,0.0,1972
1973-12-31,98.640602,4.452205,161.5,6.842500,7.031667,7.261206,-0.418706,0.040342,1973.0,1973-12-31,1.0,1973
1974-12-31,98.089943,0.050785,173.5,7.557500,7.830000,8.099749,-0.542249,0.410346,1974.0,1974-12-31,1.0,1974

In [88]:
df_final.columns

Index(['CCI Value', 'GDP per capita growth (annual %)', 'index',
       '10 Year Treasury Yield', '3 Month Treasury Yield',
       '3 Month Treasury Yield (Bond Equivalent Basis)', 'Spread', 'Rec_prob',
       'Year_x', 'Date', 'NBER_Rec', 'Year_y'],
      dtype='object')

In [89]:
df_final.drop(['Year_x','Date'],axis=1,inplace=True)

In [90]:
df_final.head()

,CCI Value,GDP per capita growth (annual %),index,10 Year Treasury Yield,3 Month Treasury Yield,3 Month Treasury Yield (Bond Equivalent Basis),Spread,Rec_prob,NBER_Rec,Year_y
Date,,,,,,,,,,
1970-12-31,98.743870,1.552273,125.5,7.348333,6.391667,6.588419,0.759914,0.344521,1.0,1970
1971-12-31,99.425517,2.188471,137.5,6.159167,4.332500,4.442091,1.717076,0.168818,0.0,1971
1972-12-31,100.458448,3.620346,149.5,6.210000,4.072500,4.172884,2.037116,0.056955,0.0,1972
1973-12-31,98.640602,4.452205,161.5,6.842500,7.031667,7.261206,-0.418706,0.040342,1.0,1973
1974-12-31,98.089943,0.050785,173.5,7.557500,7.830000,8.099749,-0.542249,0.410346,1.0,1974

In [91]:
df_final['Year'] = df_final['Year_y']

In [92]:
df_final.drop(['Year_y'],axis=1,inplace=True)

In [93]:
df_final.head() # Overall economic tables of estimators ( Y resampling )

,CCI Value,GDP per capita growth (annual %),index,10 Year Treasury Yield,3 Month Treasury Yield,3 Month Treasury Yield (Bond Equivalent Basis),Spread,Rec_prob,NBER_Rec,Year
Date,,,,,,,,,,
1970-12-31,98.743870,1.552273,125.5,7.348333,6.391667,6.588419,0.759914,0.344521,1.0,1970
1971-12-31,99.425517,2.188471,137.5,6.159167,4.332500,4.442091,1.717076,0.168818,0.0,1971
1972-12-31,100.458448,3.620346,149.5,6.210000,4.072500,4.172884,2.037116,0.056955,0.0,1972
1973-12-31,98.640602,4.452205,161.5,6.842500,7.031667,7.261206,-0.418706,0.040342,1.0,1973
1974-12-31,98.089943,0.050785,173.5,7.557500,7.830000,8.099749,-0.542249,0.410346,1.0,1974

In [94]:
df_final.to_csv('/Users/vladimirautier/Documents/GitHub/Week9/Project-Week-9-Final-Project/your-project/Final Project/Modified:Cleaned Data/df_gdp_yield_cci_yre.csv')